* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-attachment: scroll;
}
.Board {
  max-height: 100%;
  position: static;
}
h2 {
  text-align: center;
  align-items: center;
  margin-bottom: 3.2rem;
  font-size: 4.4rem;
  color: white;
  font-weight: 600;
}
h4 {
  text-align: center;
  color: white;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.board-content {
  display: flex;
  justify-content: space-between;
  gap: 6.4rem;
}
/* .input-container{
  visibility: hidden;
} */
.general {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
/* for input container */
ion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
}

.specil-icon {
  right: 5px;
}

#input-task {
  padding: 1.4rem;
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
}
.btn_add {
  background-color: #00866d;
  color: white;
  font-size: 1.8rem;
}
.board-content > div > div {
  position: relative;
}
.droppable {
  background: firebrick;
}
/* *********************************************** */
/*Footer with waves*/

.footer {
  background: #05b3a4;
  min-height: 100px;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  position: static;
  border-radius: 5px;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}
.footer .quote {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  font-style: italic;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
